apiVersion: v1
kind: ConfigMap
metadata:
  name: scs-config
  namespace: supplychainsync
data:
  KAFKA_BOOTSTRAP_SERVERS: "kafka:9092"
  SPRING_DATASOURCE_URL: "jdbc:postgresql://postgres:5432/inventorydb"
  SPRING_DATASOURCE_USERNAME: "scs"
---
apiVersion: v1
kind: ConfigMap
metadata:
  name: prometheus-config
  namespace: supplychainsync
data:
  prometheus.yml: |
    global:
      scrape_interval: 15s
    scrape_configs:
      - job_name: inventory-service
        metrics_path: /actuator/prometheus
        static_configs:
          - targets: ['inventory-service.supplychainsync.svc.cluster.local:8081']
      - job_name: shipment-service
        metrics_path: /actuator/prometheus
        static_configs:
          - targets: ['shipment-service.supplychainsync.svc.cluster.local:8082']
