global:
  scrape_interval: 15s
  evaluation_interval: 15s

scrape_configs:
  - job_name: prometheus
    static_configs:
      - targets: ['localhost:9090']

  - job_name: inventory-service
    metrics_path: /actuator/prometheus
    static_configs:
      - targets: ['inventory-service:8081']

  - job_name: shipment-service
    metrics_path: /actuator/prometheus
    static_configs:
      - targets: ['shipment-service:8082']
